graft src/redturtle
graft docs
include *.rst
exclude tox.ini
exclude *.txt
exclude .gitlab-ci.yml
global-exclude *.pyc
exclude .babelrc
exclude .coveragerc
exclude .gitignore copy
exclude .isort.cfg
exclude .prettierrc.json
exclude .python-version
exclude .stylelintrc.json
exclude package-lock.json
exclude package.json
exclude postcss.config.js
exclude test_plone61.cfg
exclude webpack.config.js
